{% extends 'layout.html' %}
{% block body %}
<br>
<h1 style="text-align:center;"><b>Import Books</b></h1>
{% from "/formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.no_of_books, class_="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.title, class_="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.author, class_="form-control")}}
    </div><br>
    
    <p><button type="submit" class="btn btn-success" value="Submit">Submit</button></p>
</form>
{% endblock %}