{% extends 'layout.html' %}
{% block body %}
<div class="container text-center mt-5">
    <div class="col-md-6 offset-md-3">
    <h1 class="mb-4">Welcome to Your Library</h1>
        <div class="btn-group-vertical">
            <a href="/books" class="btn btn-primary btn-lg mb-4">Manage Books</a>
            <a href="/members" class="btn btn-primary btn-lg mb-4">Manage Members</a>
            <a href="/transactions" class="btn btn-primary btn-lg mb-4">View Transactions</a>
        </div>
    </div>
</div>
{% endblock %}
