{% extends 'layout.html' %}
{% block body %}
<br>
<h1 style="text-align:center;"><b>Add new member</b></h1>
<br>
{% from "/formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.name, class_="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.ph_no, class_="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.email, class_="form-control", type=email)}}
    </div>
    <br>
    <p><button type="submit" class="btn btn-success" value="Submit">Submit</button></p>
</form>
{% endblock %}