{% extends 'layout.html' %}
{% block body %}
<br>
<h1 style="text-align:center;">Transactions</h1>
<a class="btn btn-success" href="/book_issue">Issue Book</a>
<hr>
{% if transactions %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Book ID</th>
            <th>Member ID</th>
            <th>Per Day Renting Fee</th>
            <th>Borrowed On</th>
            <th>Returned On</th>
            <th>Total Amout</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ "{:05d}".format(transaction.book_id) }}</td>
            <td>{{ "{:03d}".format(transaction.member_id) }}</td>
            <td>{{ transaction.per_day_fee }}</td>
            <td>{{ transaction.borrowed_on }}</td>
            <td>{{ transaction.returned_on }}</td>
            <td>{{ transaction.total_charge }}</td>
            {% if transaction.amount_paid == '-' %}
            <td><a href="book_return/{{ transaction.id }}" class="btn btn-danger pull-right">Return</a></td>
            {% else %}
            <td>CLOSED</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

